body{
    background-color:#232323;
}
h1{
    color: white;
    text-align: center
}
.square{
    width:30%;
    background: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
}
.container{
    margin: 0 auto;
    max-width: 600px;
}
#strip{
    background: white;
    height:30px;
    text-align: center;
}
.selected{
    background-color: blue;
}